/* Eliminar estilos predeterminados */
* {
    margin: 0;
    padding: 0;
}

/* Estilo del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Estilo del encabezado */
h2 {
    color:  rgb(151, 12, 215);
}

/* Estilo del contenedor información usuario */
#usuarioInfo {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo del botón de cerrar sesión */
button {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilo para centrar el botón */
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Estilos responsivos para dispositivos móviles */
@media only screen and (max-width: 480px) {
    body {
        padding: 10px; /* Ajustar el relleno del cuerpo para pantallas más pequeñas */
    }

    #usuarioInfo {
        max-width: 100%; /* Hacer que el contenedor sea del 100% del ancho de la pantalla */
    }
}